.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1em 1.5em;
  background-color: #052c6f;
  color: white;
}

.navbar_logo {
  display: flex;
  align-items: center;
}

.navbar_logo img {
  width: 60px;
  margin-right: 0.8em;
}

.navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar li,
.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: .5s;
  padding: .4em .6em;
  border-radius: 5px;
}

.navbar li:hover {
  background-color: white;
}

.navbar li:hover > a {
  color: #052c6f;
}